# Customer Analysis Round 1

* Read the three files into python as dataframes

In [1]:
import pandas as pd

import numpy as np

In [2]:
df_1 = pd.read_csv('./files_for_lab/csv_files/file1.csv')
df_2 = pd.read_csv('./files_for_lab/csv_files/file2.csv')
df_3 = pd.read_csv('./files_for_lab/csv_files/file3.csv')

* Show the DataFrame's shape.

In [3]:
print(df_1.shape)
print(df_2.shape)
print(df_3.shape)

(4008, 11)
(996, 11)
(7070, 11)

* Standardize header names.

In [4]:
df_1.columns

Index(['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Vehicle Class', 'Total Claim Amount'],
      dtype='object')

In [5]:
df_2.columns

Index(['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Total Claim Amount', 'Policy Type', 'Vehicle Class'],
      dtype='object')

In [6]:
df_3.columns

Index(['Customer', 'State', 'Customer Lifetime Value', 'Education', 'Gender',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Total Claim Amount', 'Vehicle Class'],
      dtype='object')

In [7]:
renamed_columns_df_1_2 = { "ST": "State", "GENDER": "Gender", "Customer Lifetime Value": "Customer_Lifetime_Value", "Monthly Premium Auto": "Monthly_Premium_Auto", 
                  "Number of Open Complaints": "Number_Of_Open_Complaints", "Policy Type": "Policy_Type", "Total Claim Amount": "Total_Claim_Amount",
                  "Vehicle Class": "Vehicle_Class"}

In [8]:
renamed_columns_df_3 = { "Customer Lifetime Value": "Customer_Lifetime_Value", "Monthly Premium Auto": "Monthly_Premium_Auto", 
                  "Number of Open Complaints": "Number_Of_Open_Complaints", "Policy Type": "Policy_Type", "Total Claim Amount": "Total_Claim_Amount",
                  "Vehicle Class": "Vehicle_Class"}

In [9]:
df_1.rename(columns=renamed_columns_df_1_2, inplace=True)

In [10]:
df_2.rename(columns=renamed_columns_df_1_2, inplace=True)

In [11]:
df_3.rename(columns=renamed_columns_df_3, inplace=True)

In [12]:
df_1.columns

Index(['Customer', 'State', 'Gender', 'Education', 'Customer_Lifetime_Value',
       'Income', 'Monthly_Premium_Auto', 'Number_Of_Open_Complaints',
       'Policy_Type', 'Vehicle_Class', 'Total_Claim_Amount'],
      dtype='object')

In [13]:
df_2.columns

Index(['Customer', 'State', 'Gender', 'Education', 'Customer_Lifetime_Value',
       'Income', 'Monthly_Premium_Auto', 'Number_Of_Open_Complaints',
       'Total_Claim_Amount', 'Policy_Type', 'Vehicle_Class'],
      dtype='object')

In [14]:
df_3.columns

Index(['Customer', 'State', 'Customer_Lifetime_Value', 'Education', 'Gender',
       'Income', 'Monthly_Premium_Auto', 'Number_Of_Open_Complaints',
       'Policy_Type', 'Total_Claim_Amount', 'Vehicle_Class'],
      dtype='object')

* Rearrange the columns in the dataframe as needed

In [15]:
df_1.head(2)

,Customer,State,Gender,Education,Customer_Lifetime_Value,Income,Monthly_Premium_Auto,Number_Of_Open_Complaints,Policy_Type,Vehicle_Class,Total_Claim_Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935

In [16]:
ordered_columns = ['Customer', 'Customer_Lifetime_Value', 'Gender', 'Education', 'State', 'Policy_Type',
       'Vehicle_Class', 'Income', 'Total_Claim_Amount', 'Monthly_Premium_Auto', 'Number_Of_Open_Complaints']

In [17]:
df_1 = df_1[ordered_columns]

In [18]:
df_2 = df_2[ordered_columns]

In [19]:
df_3 = df_3[ordered_columns]

In [20]:
df_1.head(1)

,Customer,Customer_Lifetime_Value,Gender,Education,State,Policy_Type,Vehicle_Class,Income,Total_Claim_Amount,Monthly_Premium_Auto,Number_Of_Open_Complaints
0,RB50392,NaN,NaN,Master,Washington,Personal Auto,Four-Door Car,0.0,2.704934,1000.0,1/0/00

In [21]:
df_2.head(1)

,Customer,Customer_Lifetime_Value,Gender,Education,State,Policy_Type,Vehicle_Class,Income,Total_Claim_Amount,Monthly_Premium_Auto,Number_Of_Open_Complaints
0,GS98873,323912.47%,F,Bachelor,Arizona,Personal Auto,Four-Door Car,16061,633.6,88,1/0/00

In [22]:
df_3.head(1)

,Customer,Customer_Lifetime_Value,Gender,Education,State,Policy_Type,Vehicle_Class,Income,Total_Claim_Amount,Monthly_Premium_Auto,Number_Of_Open_Complaints
0,SA25987,3479.137523,M,High School or Below,Washington,Personal Auto,Two-Door Car,0,499.2,104,0

* Concatenate the three dataframes

In [23]:
df = pd.concat([df_1, df_2, df_3])

In [24]:
df.head(3)

,Customer,Customer_Lifetime_Value,Gender,Education,State,Policy_Type,Vehicle_Class,Income,Total_Claim_Amount,Monthly_Premium_Auto,Number_Of_Open_Complaints
0,RB50392,NaN,NaN,Master,Washington,Personal Auto,Four-Door Car,0.0,2.704934,1000.0,1/0/00
1,QZ44356,697953.59%,F,Bachelor,Arizona,Personal Auto,Four-Door Car,0.0,1131.464935,94.0,1/0/00
2,AI49188,1288743.17%,F,Bachelor,Nevada,Personal Auto,Two-Door Car,48767.0,566.472247,108.0,1/0/00

In [25]:
df.shape

(12074, 11)

In [26]:
df.dtypes

Customer                      object
Customer_Lifetime_Value       object
Gender                        object
Education                     object
State                         object
Policy_Type                   object
Vehicle_Class                 object
Income                       float64
Total_Claim_Amount           float64
Monthly_Premium_Auto         float64
Number_Of_Open_Complaints     object
dtype: object

* Which columns are numerical?

1. Customer_Lifetime_Value
2. Income
3. Total_Claim_Amount
4. Monthly_Premium_Auto

* Which columns are categorical?

1. Customer
2. Gender
3. Education
4. State
5. Policy_Type
6. Vehicle_Class
7. Number_Of_Open_Complaints

* Understand the meaning of all columns

* Perform the data cleaning operations mentioned so far in class

    * Delete the column education and the number of open complaints from the dataframe.

In [27]:
df.drop(columns=['Education', 'Number_Of_Open_Complaints'], inplace=True)

In [28]:
df.columns

Index(['Customer', 'Customer_Lifetime_Value', 'Gender', 'State', 'Policy_Type',
       'Vehicle_Class', 'Income', 'Total_Claim_Amount',
       'Monthly_Premium_Auto'],
      dtype='object')

    * Correct the values in the column customer lifetime value. They are given as a percent, so multiply them by 100 and change dtype to numerical type.

In [29]:
df.dtypes

Customer                    object
Customer_Lifetime_Value     object
Gender                      object
State                       object
Policy_Type                 object
Vehicle_Class               object
Income                     float64
Total_Claim_Amount         float64
Monthly_Premium_Auto       float64
dtype: object

In [30]:
df['Customer_Lifetime_Value'] = df['Customer_Lifetime_Value'].str.replace('%', '')

In [31]:
df.head(5)

,Customer,Customer_Lifetime_Value,Gender,State,Policy_Type,Vehicle_Class,Income,Total_Claim_Amount,Monthly_Premium_Auto
0,RB50392,NaN,NaN,Washington,Personal Auto,Four-Door Car,0.0,2.704934,1000.0
1,QZ44356,697953.59,F,Arizona,Personal Auto,Four-Door Car,0.0,1131.464935,94.0
2,AI49188,1288743.17,F,Nevada,Personal Auto,Two-Door Car,48767.0,566.472247,108.0
3,WW63253,764586.18,M,California,Corporate Auto,SUV,0.0,529.881344,106.0
4,GA49547,536307.65,M,Washington,Personal Auto,Four-Door Car,36357.0,17.269323,68.0

In [32]:
df['Customer_Lifetime_Value'] = df['Customer_Lifetime_Value'].astype('float64')

In [33]:
df.dtypes

Customer                    object
Customer_Lifetime_Value    float64
Gender                      object
State                       object
Policy_Type                 object
Vehicle_Class               object
Income                     float64
Total_Claim_Amount         float64
Monthly_Premium_Auto       float64
dtype: object

In [34]:
df.head(5)

,Customer,Customer_Lifetime_Value,Gender,State,Policy_Type,Vehicle_Class,Income,Total_Claim_Amount,Monthly_Premium_Auto
0,RB50392,NaN,NaN,Washington,Personal Auto,Four-Door Car,0.0,2.704934,1000.0
1,QZ44356,697953.59,F,Arizona,Personal Auto,Four-Door Car,0.0,1131.464935,94.0
2,AI49188,1288743.17,F,Nevada,Personal Auto,Two-Door Car,48767.0,566.472247,108.0
3,WW63253,764586.18,M,California,Corporate Auto,SUV,0.0,529.881344,106.0
4,GA49547,536307.65,M,Washington,Personal Auto,Four-Door Car,36357.0,17.269323,68.0

In [35]:
df['Customer_Lifetime_Value'] = df['Customer_Lifetime_Value'] * 100

In [36]:
df.head(10)

,Customer,Customer_Lifetime_Value,Gender,State,Policy_Type,Vehicle_Class,Income,Total_Claim_Amount,Monthly_Premium_Auto
0,RB50392,NaN,NaN,Washington,Personal Auto,Four-Door Car,0.0,2.704934,1000.0
1,QZ44356,69795359.0,F,Arizona,Personal Auto,Four-Door Car,0.0,1131.464935,94.0
2,AI49188,128874317.0,F,Nevada,Personal Auto,Two-Door Car,48767.0,566.472247,108.0
3,WW63253,76458618.0,M,California,Corporate Auto,SUV,0.0,529.881344,106.0
4,GA49547,53630765.0,M,Washington,Personal Auto,Four-Door Car,36357.0,17.269323,68.0
5,OC83172,82562978.0,F,Oregon,Personal Auto,Two-Door Car,62902.0,159.383042,69.0
6,XZ87318,53808986.0,F,Oregon,Corporate Auto,Four-Door Car,55350.0,321.600000,67.0
7,CF85061,72161003.0,M,Arizona,Corporate Auto,Four-Door Car,0.0,363.029680,101.0
8,DY87989,241275040.0,M,Oregon,Corporate Auto,Four-Door Car,14072.0,511.200000,71.0
9,BQ94931,73881781.0,F,Oregon,Special Auto,Four-Door Car,28812.0,425.527834,93.0

    * Check for duplicate rows in the data and remove if any.

In [37]:
df.drop_duplicates(inplace=True)

In [39]:
df.shape

(9131, 9)

    * Filter out the data for customers who have an income of 0 or less.

In [40]:
df[df['Income'] <= 0]

,Customer,Customer_Lifetime_Value,Gender,State,Policy_Type,Vehicle_Class,Income,Total_Claim_Amount,Monthly_Premium_Auto
0,RB50392,NaN,NaN,Washington,Personal Auto,Four-Door Car,0.0,2.704934,1000.0
1,QZ44356,69795359.0,F,Arizona,Personal Auto,Four-Door Car,0.0,1131.464935,94.0
3,WW63253,76458618.0,M,California,Corporate Auto,SUV,0.0,529.881344,106.0
7,CF85061,72161003.0,M,Arizona,Corporate Auto,Four-Door Car,0.0,363.029680,101.0
10,SX51350,47389920.0,M,California,Personal Auto,Four-Door Car,0.0,482.400000,67.0
...,...,...,...,...,...,...,...,...,...
7059,WZ45103,NaN,F,California,Personal Auto,Four-Door Car,0.0,364.800000,76.0
7061,RX91025,NaN,M,California,Personal Auto,SUV,0.0,1950.725547,185.0
7062,AC13887,NaN,M,California,Corporate Auto,Two-Door Car,0.0,482.400000,67.0
7067,TD14365,NaN,M,California,Corporate Auto,Four-Door Car,0.0,790.784983,85.0
7069,Y167826,NaN,M,California,Corporate Auto,Two-Door Car,0.0,369.600000,77.0